form.itemList
{
	padding : 5px;
}

table
{
	border: groove 3px;
	background-color : #eaffff;
}

table th
{
	padding : 1px;
	font-family : MeiryoKe_PGothic;
	text-align : center;
	font-weight : bold;
	background-color : #afaffe;
	border: groove 3px;
}

table td.ckeckbox
{
	border : groove 1px;
	width : 20px;
}

table td.goods
{
	border : groove 1px;
	width : 300px;
}

table td.price
{
	border : groove 1px;
	padding : 2px;
	text-align : right;
	width : 70px;
}