/* body */
/* --------- ««« ‘S‘Ì ««« --------- */
body
{
	margin : 0px;
	padding : 10px;
}

h1
{
	margin : 0px;
	padding : 0.2em 0.2em 0.5em 60px;
	font-weight : bold;
	font-size : 24pt;
	font-family : MeiryoKe_PGothic;
	background-image : url("../images/pentomino_logo.png");
	background-repeat : no-repeat;
	background-position : left;
	padding-left : 60px;
	text-align : center;
}

h2
{
	font-family : MeiryoKe_PGothic;
	font-weight : bold;
	font-size : 18pt;
}

/* --------- ªªª ‘S‘Ì ªªª --------- */
/* --------- ««« Login.jsp ««« --------- */
form.login
{
	background-color : #eaffff;
	text-align : center;
	padding : 1em;
}

table.login
{
	text-align : center;
	margin-bottom : 0.5em;
}

table.login td
{
	padding : 0.2px;
	text-align : left;
	font-weight : bold;
}

/* --------- ªªª Login.jsp ªªª --------- */
/* --------- ««« itemList.jsp ««« --------- */
form.itemList
{
	padding : 5px;
}

table.menu
{
	border: groove 3px;
	background-color : #eaffff;
}

table.menu th
{
	padding : 1px;
	font-family : MeiryoKe_PGothic;
	text-align : center;
	font-weight : bold;
	background-color : #afaffe;
	border: groove 3px;
}

table.menu td
{
	border : groove 1px;
	width : 300px;
}

table.menu td.ckeckbox
{
	border : groove 1px;
	width : 20px;
}

table.menu td.price
{
	padding : 2px;
	text-align : right;
	width : 70px;
}
/* --------- ªªª itemList.jsp ªªª --------- */
